<div class="confirm-container">
    <form action="" class="formField">
        <div class="nameAndPic">
            <img src="{{ productToAdd.base64Image }}" />

            <div class="priceAndName">
                <mat-form-field appearance="outline" color="blue" class="mat-form-field-outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" [style]=""  readonly="" [(ngModel)]="productToAdd.name"
                        name="name" />
                   
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Price ($)</mat-label>

                    <input matInput placeholder="Price ($)"  readonly="" [(ngModel)]="productToAdd.price" name="price" />
                </mat-form-field>
            </div>
        </div>
        <div class="categoryAndgender">
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>

                <input matInput placeholder="Category" readonly="" [(ngModel)]="productToAdd.category" name="category" />
            </mat-form-field>

            <div class="spacer"></div>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <input matInput placeholder="Gender" readonly="" [(ngModel)]="productToAdd.gender" name="gender" />
            </mat-form-field>
        </div>

    <div class="supAndDesc">
        <mat-form-field appearance="outline">
            <mat-label>Supplier</mat-label>
            
            <input matInput placeholder="Supplier (Company or Person)"  readonly [(ngModel)]="productToAdd.supplier"
                name="supplier" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>

            <input matInput placeholder="Description" readonly [(ngModel)]="productToAdd.description">
        </mat-form-field>
   
    </div>
    </form>

    <mat-dialog-actions class="actions">
        <button mat-button matDialogClose class="cancel">OK</button>
    </mat-dialog-actions>
</div>