
.confirm-container{
display: flex;
align-items: center;
flex-direction: column;

}
.title{
    display: flex;
        align-items: center;
    justify-self: center;
     
    }
    .title i{
    
        margin-right: 10px;
    }
    .accept{
    
    color: red;
    
    }
    .actions{
    justify-content: flex-end;
    
    }

    img{

        border-radius: 40px;
width: 200px;
height: 200px;

    }