<div class="container">


    <mat-card class="mat-elevation-z4 ">
        <form action="" class="formField">

            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="productToAdd.name"  name="name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Price ($)" [(ngModel)]="productToAdd.price" name="price">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="Supplier (Company or Person)"  [(ngModel)]="productToAdd.supplier" name="supplier">
            </mat-form-field>
               
        </form>

        <button mat-raised-button class="saveButton" (click)="saveProduct()">Save</button>
        <button mat-flat-button class="cancel Button" (click)="returnToPreviousPage()">Cancel</button>

    </mat-card>
</div>