img{

    position: absolute;
    height: 10%;
border-radius: 600px;


}
.allContent{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    align-items: center;
    justify-content: center;
z-index: 100;
background-color: rgba(43, 81, 97, 0.452);

}